* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  scroll-behavior: smooth;
}

.navbar {
  position: sticky;
  top: 0;
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.navbar a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  height: 100vh;
  background: linear-gradient(to right, #1d2671, #c33764);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.hero h1 span {
  color: yellow;
}

.about, .gallery, .contact {
  padding: 80px;
}

.facts {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.gallery .images {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  gap: 15px;
}

.gallery img {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.1);
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

#lightbox img {
  width: 60%;
  border-radius: 10px;
}

button {
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
.resume-btn {
  display: inline-flex;         
  align-items: center;          
  justify-content: center;     
  padding: 12px 20px;
  margin-top: 20px;
  background: black;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}


.resume-btn:hover {
  background: #333;
}
.skills {
  padding: 80px;
  background: #f5f5f5;
  text-align: center;
}

.skills h2 {
  margin-bottom: 30px;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
  max-width: 800px;
  margin: auto;
}

.skill-box {
  padding: 15px;
  background: white;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
  cursor: pointer;
}

.skill-box:hover {
  transform: translateY(-5px);
  background: black;
  color: white;
}
